<div class="landing">
    <div class="container">
        <div class="text">
            <h1>Welcome, To Elzero World</h1>
            <p>Here Iam gonna share everything about my life. Books Iam reading, Games Iam Playing, Stories and Events
            </p>
        </div>
        <div class="image">
            <img src="../../../assets/imgs/landing-image.png " alt="" />
        </div>
    </div>
    <a href="#articles" class="go-down">
        <i class="fas fa-angle-double-down fa-2x"></i>
    </a>
</div>