<main>
    <div class="head-title border-b-[1.5px] pb-8 border-[rgba(0,0,0,0.2)]">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>/</li>
                <li>
                    <a>domains</a>
                </li>
                <li>/</li>
                <li>
                    <a class="active">{{domain.domainName}} details</a>
                </li>
            </ul>
        </div>
        <a routerLink="/admin/domains" class="btn-download">
            <i class='bx bxs-cloud-download fa-solid fa-list '></i>
            <span class="text">List Domains</span>
        </a>
    </div>
    <div *ngIf="domain">
       
        <ul class="w-full mt-10 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg 0">
            <li class="w-full px-4 py-4 border-b border-gray-200 ">
                Client Name <i class="fa-solid fa-greater-than ml-10 mr-10"></i> {{ domain.client.name }}
            </li>
            <li class="w-full px-4 py-4 border-b border-gray-200 ">
                Purchase Price <i class="fa-solid fa-greater-than ml-10 mr-10"></i> {{ domain.purchasePrice }}
            </li>
            <li class="w-full px-4 py-4 border-b border-gray-200 ">
                Buying Price <i class="fa-solid fa-greater-than ml-10 mr-10"></i> {{ domain.buyingPrice }}
            </li>
            <li class="w-full px-4 py-4 border-b border-gray-200 ">
                Status <i class="fa-solid fa-greater-than ml-10 mr-10"></i> {{ domain.status ? 'Active' : 'Inactive' }}
            </li>
            <li class="w-full px-4 py-4 border-b border-gray-200 ">
                Start Date <i class="fa-solid fa-greater-than ml-10 mr-10"></i> {{ domain.startDate | date: 'mediumDate'
                }}
            </li>
            <li class="w-full px-4 py-4 border-b border-gray-200 ">
                End Date <i class="fa-solid fa-greater-than ml-10 mr-10"></i> {{ domain.endDate | date: 'mediumDate' }}
            </li>
            <li class="w-full px-4 py-4 border-b border-gray-200 ">
                Domain Name <i class="fa-solid fa-greater-than ml-10 mr-10"></i> {{ domain.domainName }}
            </li>
            <li class="w-full px-4 py-4 border-b border-gray-200 ">
                Domain <i class="fa-solid fa-greater-than ml-10 mr-10"></i> {{ domain.domain ? 'Yes' : 'No' }}
            </li>
            <li class="w-full px-4 py-4 border-b border-gray-200 ">
                Host OVH Offer <i class="fa-solid fa-greater-than ml-10 mr-10"></i> {{ domain.hostOvhOffer }}
            </li>
            <li class="w-full px-4 py-4 border-b border-gray-200 ">
                Hosting <i class="fa-solid fa-greater-than ml-10 mr-10"></i> {{ domain.hosting ? 'Yes' : 'No' }}
            </li>
            <li class="w-full px-4 py-4 border-b border-gray-200 ">
                Mail <i class="fa-solid fa-greater-than ml-10 mr-10"></i> {{ domain.mail ? 'Yes' : 'No' }}
            </li>
        </ul>
    </div>

</main>