<main>
    <div class="head-title">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>/</li>
                <li>
                    <a class="active" href="#">Home</a>
                </li>
            </ul>
        </div>
    </div>

    <ul class="box-info">
        <li>
            <i class='fa-solid fa-user bx bxs-calendar-check'></i>
            <span class="text">
                <h3>{{ clients.length }}</h3>
                <p>Clients</p>
            </span>
        </li>
        <li>
            <i class='fa-solid fa-server bx bxs-group'></i>
            <span class="text">
                <h3>{{ domains.length }}</h3>
                <p>Domains</p>
            </span>
        </li>
        <li>
            <i class='bx bxs-dollar-circle fa-solid fa-dollar-sign'></i>
            <span class="text">
                <h3>${{ profit }}</h3>
                <p>Total Sales</p>
            </span>
        </li>
    </ul>
    <div>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Months</th>
                    <th *ngFor="let data of monthlyData">{{ data.month }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Number of Domains</td>
                    <td *ngFor="let data of monthlyData">{{ data.numberOfDomains }}</td>
                </tr>
                <tr>
                    <td>Profit</td>
                    <td *ngFor="let data of monthlyData">{{ data.profit | currency:'USD':true }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
