<main>
    <div class="head-title border-b-[1.5px] pb-8 border-[rgba(0,0,0,0.2)]">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a routerLink="/admin">Dashboard</a>
                </li>
                <li>/</li>
                <li>
                    <a routerLink="/all">parametres</a>
                </li>
                <li>/</li>
                <li>
                    <a class="active">add database</a>
                </li>
            </ul>
        </div>
        <a routerLink="../all" class="btn-download">
            <i class='bx bxs-cloud-download fa-solid fa-list '></i>
            <span class="text">View All</span>
        </a>
    </div>
    <div class="mt-12">
        <form [formGroup]="addFtp" (ngSubmit)="submitForm()">
          <div class="max-w-lg mx-auto">
            <h1 class="text-3xl mb-7 text-center">New FTP</h1>
      
            <div class="mb-2">
              <label for="domain" class="block mb-2 text-sm font-medium text-gray-900">Domain</label>
              <div>
                <select id="domain" formControlName="domain"
                  class="shadow-sm bg-gray-50 border-2 border-gray-300 focus:outline-none text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                  <option *ngFor="let d of domains" [value]="d._id">{{ d.domainName }}</option>
                </select>
              </div>
            </div>

            <div class="mb-2">
              <label for="type" class="block mb-2 text-sm font-medium text-gray-900">Type</label>
              <div>
                <select id="type" formControlName="type"
                  class="shadow-sm bg-gray-50 border-2 border-gray-300 focus:outline-none text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                  <option value="ssh">SSH</option>
                  <option value="stfp">STFP</option>
                  <option value="dtp">FTP</option>
                </select>
              </div>
            </div>
      
            <div class="mb-2">
              <label for="host" class="block mb-1 text-sm font-medium text-gray-900">Host</label>
              <input type="text" id="host" formControlName="host"
                class="shadow-sm bg-gray-50 border-2 border-gray-300 focus:outline-none text-gray-900 text-sm rounded-lg
                         focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            </div>
      
            <div class="mb-2">
              <label for="username" class="block mb-1 text-sm font-medium text-gray-900">Username</label>
              <input type="text" id="username" formControlName="username"
                class="shadow-sm bg-gray-50 border-2 border-gray-300 focus:outline-none text-gray-900 text-sm rounded-lg
                         focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            </div>
      
            <div class="mb-2">
              <label for="password" class="block mb-1 text-sm font-medium text-gray-900">Password</label>
              <input type="password" id="password" formControlName="password"
                class="shadow-sm bg-gray-50 border-2 border-gray-300 focus:outline-none text-gray-900 text-sm rounded-lg
                         focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            </div>
      
            <div class="mb-2">
              <label for="port" class="block mb-1 text-sm font-medium text-gray-900">port</label>
              <input type="text" id="port" formControlName="port"
                class="shadow-sm bg-gray-50 border-2 border-gray-300 focus:outline-none text-gray-900 text-sm rounded-lg
                         focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            </div>
      
            <button type="submit"
              class="text-white w-full bg-blue-700 hover:bg-blue--2800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              New FTP
            </button>
          </div>
        </form>
      </div>
      
</main>