<main>
    <div class="head-title border-b-[1.5px] pb-8 border-[rgba(0,0,0,0.2)]">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>/</li>
                <li>
                    <a class="active">Parametres</a>
                </li>
            </ul>
        </div>
        <a routerLink="../domains" class="btn-download">
            <i class='bx bxs-cloud-download fa-solid fa-gear '></i>
            <span class="text">Domains List</span>
        </a>
    </div>
    <div class="mt-5">
        <div class="overflow-x-auto shadow-md sm:rounded-lg">

            <div
                class="flex flex-column sm:flex-row flex-wrap space-y-4 sm:space-y-0 items-center justify-between pb-4">
                <label for="table-search" class="sr-only">Search</label>
                <div class="relative">
                    <div
                        class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <input type="text" (keyup)="applyFilter($event)" #input id="table-search"
                        class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                        placeholder="Search for items" (input)="applyFilter($event)">
                </div>
            </div>

        </div>

        <!-- Table -->
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 0 ">
                <tr>
                    <!-- Column Headers -->
                    <th scope="col" class="text-center p-4">Client</th>
                    <th scope="col" class="text-center p-4">Domain Name</th>
                    <th scope="col" class="text-center p-4">Purchase Price</th>

                    <th scope="col" class="text-center p-4">buying Price</th>
                    <th scope="col" class="text-center p-4">Status</th>
                    <th scope="col" class="text-center p-4">Start Date</th>
                    <th scope="col" class="text-center p-4">End Date</th>
                    <th scope="col" class="text-center p-4">Host offers</th>
                    <th scope="col" class="text-center p-4">Have Domain</th>

                    <th scope="col" class="text-center p-4">Hosting</th>
                    <th scope="col" class="text-center p-4">Mail</th>

                    <th scope="col" class="text-center p-4">Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table Rows -->
                <tr *ngFor="let domain of filtereddomains" class="bg-white border-b 0 hover:bg-gray-50 ">
                    <td class="text-center p-4">{{ domain.client.name }}</td>
                    <td class="text-center p-4">{{ domain.domainName }}</td>
                    <td class="text-center p-4">{{ domain.purchasePrice }}</td>
                    <td class="text-center p-4">{{ domain.buyingPrice }}</td>
                    <td class="text-center p-4">
                        <div *ngIf="domain.status" class="flex items-center">
                            <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> Active
                        </div>
                        <div *ngIf="!domain.status" class="flex items-center">
                            <div class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div> Inactive
                        </div>
                    </td>
                    <td class="text-center p-4">{{ formatReadableDate(domain.startDate) }}</td>
                    <td class="text-center p-4">{{ formatReadableDate(domain.endDate) }}</td>
                    <td class="text-center p-4">{{ domain.hostOvhOffer }}</td>

                    <td class="text-center p-4">
                        <div *ngIf="domain.domain" class="flex items-center justify-center">
                            <i class="fa-solid text-xl font-bold fa-check text-green-500"></i>
                        </div>
                        <div *ngIf="!domain.domain" class="flex items-center justify-center">
                            <i class="fa-solid text-xl font-bold fa-x text-red-500"></i>
                        </div>
                    </td>
                    <td class="text-center p-4">
                        <div *ngIf="domain.hosting" class="flex items-center justify-center">
                            <i class="fa-solid text-xl font-bold fa-check text-green-500"></i>
                        </div>
                        <div *ngIf="!domain.hosting" class="flex items-center justify-center">
                            <i class="fa-solid text-xl font-bold fa-x text-red-500"></i>
                        </div>
                    </td>
                    <td class="text-center p-4">
                        <div *ngIf="domain.mail" class="flex items-center justify-center">
                            <i class="fa-solid text-xl font-bold fa-check text-green-500"></i>
                        </div>
                        <div *ngIf="!domain.mail" class="flex items-center justify-center">
                            <i class="fa-solid text-xl font-bold fa-x text-red-500"></i>
                        </div>
                    </td>




                    <td class="text-center p-4 justify-center flex gap-3">
                        <button class="p-2 rounded-lg bg-[#3C91E6]" (click)="viewDomain(domain)"><i
                                class="text-white font-bold fa-solid fa-eye"></i></button>
                        <button class="p-2 rounded-lg bg-green-500" (click)="editDomain(domain)"><i
                                class="text-white font-bold fa-solid fa-pen"></i></button>
                        <button class="p-2 rounded-lg bg-[#DB504A]" (click)="deleteDomain(domain)"><i
                                class="text-white font-bold fa-solid fa-trash"></i></button>
                    </td>

                    <!-- Add more cells if needed -->
                </tr>
            </tbody>
        </table>
    </div>
    
</main>