<main>
    <div class="head-title border-b-[1.5px] pb-8 border-[rgba(0,0,0,0.2)]">
        <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
                <li>
                    <a  >Dashboard</a>
                </li>
                <li>/</li>
                <li>
                    <a class="active" >Domains</a>
                </li>
            </ul>
        </div>
        <a routerLink="./new" class="btn-download">
            <i class='bx bxs-cloud-download fa-solid fa-plus '></i>
            <span class="text">Add Domain</span>
        </a>
    </div>
</main>